body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}


.content-area>main {
  flex-grow: 1;
}

.content-area>aside {
  padding: 1rem;

  position: absolute;
  right: 0px;
  translate: 80%;
}

.content-area>aside:hover {
  translate: 0%;
}
@media(min-width: 400px) {
  .content-area>aside {
    position: initial;
    translate: 0%;
  }
}

body>footer {

}

/*Utility*/
.bg-primary {
  background-color: blue;
}

.bg-accent {
  background-color: chartreuse;
}

.transition-quickly {
  transition: all 200ms ease-in-out;
}

.transition-slowly {
  transition: all 400ms ease-in-out;
}

.floating {
  box-shadow: 2px, 2px, 4px, 4px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*Box styling*/
/*Default always active styling*/
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(43, 226, 150);
}

/*only acctive on screens broader than 400px*/
@media (min-width: 400px) {
  .box {
    background-color: burlywood;
    transition: all 2s linear;
  }
}

@media (min-width: 600px) {
  .box {
    width: 200px;
    background-color: rgb(137, 48, 83);
  }
}