body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  display: flex;
  position: relative;
}

body>header {
  background-color: green;
}

.content-area>main {
  background-color: orange;

  flex-grow: 1;
}

.content-area>aside {
  background-color: blueviolet;
  padding: 1rem;

  position: absolute;
  right: 0px;
}

body>footer {
  background-color: aqua;
}

/*Utility*/
.flex-col {
  display: flex;
  flex-direction: column;
}

/*Box styling*/
/*Default always active styling*/
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(43, 226, 150);
}

/*only acctive on screens broader than 400px*/
@media (min-width: 400px) {
  .box {
    background-color: burlywood;
    transition: all 2s linear;
  }
}

@media (min-width: 600px) {
  .box {
    width: 200px;
    background-color: rgb(137, 48, 83);
  }
}